# Ignore Generated API Keys
api/keys.csv
api_key_generator/keys.csv

# Ignore Virtual Environment Folder
api/api_env/
web/web_env/

# Pycache
api/__pycache__/
web/foodapp/foodapp/__pycache__/
web/foodapp/mainapp/__pycache__/